%script{src:'assets/javascripts/countdown.js'}
.row
  .large-12.columns
    %h1 UCSB IEEExtreme Team Global Ranking
  .large-6.columns
    %p Teams with successful submissions or a score above zero will rank.
    %p Last server download and check: #{DateTime.now}
    :javascript
      var myCountdown2 = new Countdown({year:2013, month:10, day:26, hour:5, ampm:"pm" , width:400, height:80,
      rangeHi:"hour"});
  .large-6.columns
    %table{width: '100%'}
      %thead
        %tr
          %th{width: '70px'} Global Rank
          %th{width: '70px'} Score
          %th Name
      %tbody
        - get_ucsb_hackers.each do |hacker|
          %tr
            %td
              = hacker['rank']
            %td
              = hacker['score']
            %td
              = hacker['hacker']
.row
  .large-12.columns
    %pre
      = `fortune`
    %script{src:'assets/javascripts/refresh.js'}


